.container {
    background-image: url('../../images/bodyParts.jpg');
    background-position: center center;
    height: calc(100vh - 80px);
    display: flex;
}

.content {
    position: absolute;
    background-color: rgba(0, 209, 205, .7);
    height: calc(100vh - 80px);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logo {
    font-family: var(--logoText);
    font-size: 5rem;
    color: var(--background);
}

.career {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--third)
}

@media only screen and (max-width: 510px) {
    .logo{
        font-size: 4rem;
    }
    .career {
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 390px) {
    .logo{
        font-size: 3rem;
    }

    .career {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 275px) {
    .logo{
        font-size: 2rem;
    }

    .career {
        font-size: 1rem;
    }
}