.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 25px;
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
}

.nicolePortrait {
    border: 15px solid var(--main);
    margin-right: 50px;
    max-width: 350px;
}

.presentationBox{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.presentationText {
    font-family: var(--header);
    border: 15px solid var(--main);
    padding: 50px;
}

.presentationText h3 {
    color: var(--main);
}

.presentationImage{
    max-width: 350px;
    border: 15px solid var(--main);
    margin-top: 100px;
}


@media only screen and (max-width: 950px) {
    .container{
        grid-template-columns: 100%;
        justify-content: center;
    }
    .nicolePortrait{
        margin: 0 auto 50px auto;
    }
    .presentationBox {
        flex-flow: row nowrap;
    }
    .presentationText{
        margin-right: 25px;
    }
    .presentationImage{
        margin: 0;
    }
}

@media only screen and (max-width: 850px) {
    .presentationText{
        padding: 25px;
    }       
}

@media only screen and (max-width: 750px) {
    .container{
        padding: 100px 10px;
    }
    .nicolePortrait{
        max-width: 300px;
    }
    .presentationBox {
        flex-flow: column;
        align-items: center;
    }    
    .presentationText{
        margin-right: 0;
        margin-bottom: 50px;
    }
    .presentationImage{
        max-width: 500px;
    }
}
@media only screen and (max-width: 500px) {
    .presentationImage{
        max-width: 100%;
    }
}

@media only screen and (max-width: 400px) {
    .nicolePortrait{
        max-width: 100%;
    }
}

@media only screen and (max-width: 350px) {
    .nicolePortrait, .presentationText, .presentationImage{
        border: 5px solid var(--main);
    }
}
